.meu-nome {
    font-size: 40px; 
    font-family: Verdana, sans-serif;
    text-align: center;
    padding-top: 15px;   
}
.dados {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding-top: 20px;
    font-size: 20px;
}   

.dados2 {
    font-size: 30px;
}

body {
    background-color: #EDD3C4;
    padding: 3%;
}

/*
.idioma {
    font-size: 15px;
}
.gestao {
    font-size: 20px;
}
.trabalho {
    font-size: 25px;
}
.conflitos {
    font-size: 30px;
}
.vendas {
    font-size: 35px;
}
.compras {
    font-size: 40px;
}
*/

#minha-foto {
    float: left;
    height: 380px;
    width: 380px;
    padding: 10px;
    background-color: cornflowerblue;
    margin-right: 20px;
}

.image-container {
    height: 400px;
}

/*
div {
    border: 2px solid green;
}
*/

/*
ul li:nth-child(odd) {
    background-color: aqua;
}
*/

.container-main {
    margin-bottom: 15px;
    background-color: yellowgreen;
    height: 600px;
}

.links-sites {
    padding: 5px;
    font-size: 20px;   
}